#{{ template_run_date }} - "{{ ansible_managed }}" via {{template_uid }}@{{ template_host }}

{{ mot }} helloworld template

{% for p in personnes %} 

personne : {{ p.nom }}
age: {{ p.age }} 

{% endfor %}
